.navbarButton{
  width: 11rem;
  height: 2.4rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton:hover{
  background-color: var(--secondary-color)
}

.navbarButtonActive{
  background-color: var(--secondary-color);
}

.iconContainer{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}